[Unit]
Description=joy
#After=networking.service
Requires=rosmaster

[Service]
EnvironmentFile=/etc/systemd/camrobo.conf
User=tomtom
ExecStart=/opt/ros/kinetic/lib/joy/joy_node
Type=simple
#Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target

